
<div class="container" >
	<div class="row" >
		<div class="col-12">
			<ul class="stepindicator">
				<li [class.active]="step>1">Persoonlijke gegevens</li>
				<li [class.active]="step>2">Adresgegevens</li>
				<li [class.active]="step>3">Betaling contributie</li>
			</ul>
		</div>
	</div>
</div>

<div class="container" *ngIf="step==1" >
	<div class="row" >
		<div class="col-12 col-md-8 offset-md-2 col-lg-6 offset-lg-3" >
			<h3>Persoonlijke gegevens</h3>
			<form (ngSubmit)="saveStep1(formStep1, $event)" #formStep1="ngForm">
				<div class="form-group row" [ngClass]="{'has-danger': givenName?.touched && !givenName?.valid}">
					<label for="givenName" class="col-3 col-form-label">Voornaam</label>
					<div class="col-9">
						<input type="text" class="form-control" id="givenName"
							[(ngModel)]="member.givenName" #givenName="ngModel" name="givenName"
							required [attr.readonly]="member.step>1 || saveInProgress">
					</div>
				</div>
				<div class="form-group row" [ngClass]="{'has-danger': lastName?.touched && !lastName?.valid}">
					<label for="lastName" class="col-3 col-form-label">Achternaam</label>
					<div class="col-9">
						<input type="text" class="form-control" id="lastName"
							[(ngModel)]="member.lastName" #lastName="ngModel" name="lastName"
							required [attr.readonly]="member.step>1 || saveInProgress">
					</div>
				</div>
				<div class="form-group row" [ngClass]="{'has-danger': (birthdate?.touched && !birthdate?.valid) || errors.includes('pgerr:check_violation:accounts_check_age_over_14')}">
					<label for="birthdate" class="col-3 col-form-label">Geboortedatum</label>
					<div class="col-9">
						<div class="input-group">
							<input type="text" class="form-control" id="birthdate"
								[(ngModel)]="member.birthdate" #birthdate="ngModel" name="birthdate"
								required [attr.readonly]="member.step>1 || saveInProgress" placeholder="jaar-maand-dag"
								ngbDatepicker #d="ngbDatepicker" [minDate]="{year:1940,month:01,day:01}" [maxDate]="{year:2004,month:12,day:31}">
							<div class="input-group-addon" (click)="d.toggle()" >
								<span class="icon-calendar" style="width: 1.2rem; height: 1rem; cursor: pointer;" ></span>
							</div>
						</div>
						<div *ngIf="errors.includes('pgerr:check_violation:accounts_check_age_over_14')" class="form-control-feedback">Een lid moet 14 jaar of ouder zijn.</div>
					</div>
				</div>
				<div class="form-group row" [ngClass]="{'has-danger': (email?.touched && !email?.valid) || errors.includes('rutte:invalid_email_address') || errors.includes('pgerr:accounts_uq_email')}">
					<label for="email" class="col-3 col-form-label">Email</label>
					<div class="col-9">
						<input type="text" class="form-control" id="email"
							[(ngModel)]="member.email" #email="ngModel" name="email" required [attr.readonly]="member.step>1 || saveInProgress">
						<div *ngIf="errors.includes('rutte:invalid_email_address')" class="form-control-feedback">Het ingevulde email adres is ongeldig.</div>
						<div *ngIf="errors.includes('pgerr:accounts_uq_email')" class="form-control-feedback">Het ingevulde email adres is al in gebruik.</div>
					</div>
				</div>
				<div class="form-group row">
					<div class="col-12" >
						<button type="submit" class="btn btn-success clickable"
							[disabled]="!formStep1?.valid" >Verder</button>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>

<div class="container" *ngIf="step==2" >
	<div class="row" >
		<div class="col-12 col-md-8 offset-md-2 col-lg-6 offset-lg-3" >
			<h3>Adresgegevens</h3>
			<div *ngIf="member.countryCode==null">
				<div class="centered"><strong>{{member.givenName}} {{member.lastName}}, woont u binnen of buiten Nederland?</strong></div>
				<div class="row" >
					<div class="col-6" ><button type="button" class="btn btn-lg btn-warning lefted" (click)="member.countryCode='NL'" >Binnen Nederland</button></div>
					<div class="col-6" ><button type="button" class="btn btn-lg btn-secondary" (click)="member.countryCode=''" >Buiten Nederland</button></div>
				</div>
			</div>
			
			<form (ngSubmit)="saveStep2(formStep2, $event)" #formStep2="ngForm" *ngIf="member.countryCode!=null">
				<div class="form-group row" [ngClass]="{'has-danger': (postalcode?.touched && !postalcode?.valid) || errors.includes('rutte:PostcodeNl_Service_PostcodeAddress_AddressNotFoundException')}">
					<label for="postalcode" class="col-3 col-form-label">Postcode</label>
					<div class="col-4">
						<input type="text" class="form-control" id="postalcode" (keyup)="postalcodeHousenumberUpdated()"
							[(ngModel)]="member.postalcode" #postalcode="ngModel" name="postalcode"
							required [attr.readonly]="member.step>2 || saveInProgress">
					</div>
				</div>
				<div class="form-group row" [ngClass]="{'has-danger': (housenumber?.touched && !housenumber?.valid) || errors.includes('rutte:PostcodeNl_Service_PostcodeAddress_AddressNotFoundException')}">
					<label for="housenumber" class="col-3 col-form-label">Huisnummer</label>
					<div class="col-3">
						<input type="number" class="form-control" id="housenumber" (keyup)="postalcodeHousenumberUpdated()"
							[(ngModel)]="member.housenumber" #housenumber="ngModel" name="housenumber"
							required [attr.readonly]="member.step>2 || saveInProgress">
					</div>
					<div class="col-6">
						<input type="text" class="form-control" id="housenumberSuffix" placeholder="toevoeging"
							[(ngModel)]="member.housenumberSuffix" #housenumberSuffix="ngModel" name="housenumberSuffix"
							[attr.readonly]="member.step>2 || saveInProgress">
					</div>
					<div *ngIf="errors.includes('rutte:PostcodeNl_Service_PostcodeAddress_AddressNotFoundException')" class="form-control-feedback">De opgegeven <strong>postcode</strong> en <strong>huisnummer</strong> combinatie is onbekend.</div>
				</div>
				<div class="form-group row" [ngClass]="{'has-danger': streetname?.touched && !streetname?.valid}">
					<label for="streetname" class="col-3 col-form-label">Straatnaam</label>
					<div class="col-9">
						<input type="text" class="form-control" id="streetname"
							[(ngModel)]="member.streetname" #streetname="ngModel" name="streetname"
							[required]="member.countryCode != 'NL'" [attr.readonly]="member.countryCode == 'NL' || member.step>2 || saveInProgress">
					</div>
				</div>
				<div class="form-group row" [ngClass]="{'has-danger': city?.touched && !city?.valid}">
					<label for="city" class="col-3 col-form-label">Woonplaats</label>
					<div class="col-9">
						<input type="text" class="form-control" id="city"
							[(ngModel)]="member.city" #city="ngModel" name="city"
							[required]="member.countryCode != 'NL'" [attr.readonly]="member.countryCode == 'NL' || member.step>2 || saveInProgress">
					</div>
				</div>
				<div class="form-group row" [ngClass]="{'has-danger': province?.touched && !province?.valid}">
					<label for="province" class="col-3 col-form-label">Provincie</label>
					<div class="col-9">
						<input type="text" class="form-control" id="province"
							[(ngModel)]="member.province" #province="ngModel" name="province"
							[required]="member.countryCode != 'NL'" [attr.readonly]="member.countryCode == 'NL' || member.step>2 || saveInProgress">
					</div>
				</div>
				<div class="form-group row" [ngClass]="{'has-danger': countryCode?.touched && !countryCode?.valid}">
					<label for="countryCode" class="col-3 col-form-label">Land</label>
					<div class="col-9">
						<select class="form-control" id="countryCode"
							[(ngModel)]="member.countryCode" name="countryCode"
							required [attr.readonly]="member.countryCode == 'NL' || member.step>2 || saveInProgress">
							<option *ngFor="let c of countries | async" [ngValue]="c.code" [attr.disabled]="member.countryCode == 'NL' || member.step>2 || saveInProgress">{{c.name}}</option>
						</select>
					</div>
				</div>
				<div class="form-group row">
					<div class="col-12" >
						<button type="submit" class="btn btn-success clickable"
							[disabled]="!formStep2?.valid" >Verder</button>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>


<div class="container" *ngIf="step==3" >
	<div class="row" >
		<div class="col-12 col-md-8 offset-md-2 col-lg-6 offset-lg-3" >
			<form (ngSubmit)="saveStep3(formStep3, $event)" #formStep3="ngForm">
				<div class="form-check row">
					<label class="form-check-label col-12">
						<input type="checkbox" class="form-check-input"
						ngModel #kalenderjaar="ngModel" name="kalenderjaar" >
						Ik word lid van GeenPeil voor 12 euro voor kalenderjaar 2017.
					</label>
				</div>
				<div class="form-check row">
					<label class="form-check-label col-12">
						<input type="checkbox" class="form-check-input"
						ngModel #stemrecht="ngModel" name="stemrecht" >
						Ik begrijp dat ik alleen stemrecht krijg binnen GeenPeil als ik een Nederlandse kiesgerechtigde ben.
					</label>
				</div>
				<div class="form-group row">
					<div class="col-3 centered" >
						<img src="/static/payment-logos/ideal.png" alt="Betalen via iDEAL" />
					</div>
					<div class="col-3 centered" >
						<img src="/static/payment-logos/paypal.png" alt="Betalen via PayPal" />
					</div>
					<div class="col-3 centered" >
						<img src="/static/payment-logos/bitcoin.png" alt="Betalen met Bitcoin" />
					</div>
					<div class="col-3 centered" >
						<img src="/static/payment-logos/creditcard.png" alt="Betalen met CreditCard" />
					</div>
				</div>
				<div class="form-group row">
					<div class="col-12 centered" >
						<button type="submit" class="btn btn-lg btn-success clickable"
							[disabled]="!kalenderjaar.value || !stemrecht.value" >Betalen</button>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>
